<main>
<div class="wrapper">
  <div class="side-bar">
    <aside id="sub-area">
      <ul>
        <li class="step"><a href="#area-1" class="step2">１．枠組みを考える</a></li>
        <li class="step"><a href="#area-2" class="step2">２．初期仮説を立てる</a></li>
        <li class="step"><a href="#area-3" class="step2">３．検証情報を集める</a></li>
        <li class="step"><a href="#area-4" class="step2">４．仮説を進化させる</a></li>
        <li class="step"><a href="#area-5" class="step2">５．サブイシューに対する主張・結論</a></li>
        <li class="step"><a href="#area-6" class="step2">６．イシューに対する主張・結論</a></li>
        <li class="step"><a href="#area-7" class="step2">メインメッセージへ</a></li>
      </ul>
    </aside>
  </div>

  <div class="issue-tree">
    <div class="issue-title" data-en="ISSUE">
      <%= "#{@main_issue.title}" %>
    </div>

    <section class="scroll-point" id="area-1">
      <h3><span>01</span>枠組みを考える（サブイシュー）</h3>
      <%= form_with model: [@main_issue, @sub_issue],id: "form", class: 'form' do |f| %>
        <div class="form-input">
          <%= f.text_area :title, class: 'form-subissue-tree', placeholder: 'イシューに答えるために必要な論点のセット（枠組み）　『・・・か？』（具体的に問いの形にする）' %>
        </div>
        <%= f.submit '登録する', id: "submit1", class: 'shiny-btn2' %>
      <% end %>
      
      <div class="contents">
        <%= render partial: 'sub_issue', collection: @sub_issues %>
      </div>
    </section>

    <section class="scroll-point" id="area-6">
      <h3><span>06</span>イシューに対する主張・結論</h3>
      <%= form_with model: @main_issue, id: "form", class: 'form' do |f| %>
        <div class="form-input">
          <%= f.text_area :conclusion, class: 'form-subissue-tree', placeholder: 'イシューや枠組みの問いを意識して仮説を考える　『・・・だろう』' %>
        </div>
        <%= f.submit '登録する', id: "submit6", class: 'shiny-btn2' %>
      <% end %>
      <div class="contents">
        <div class="content">
          <div class="content3">
          <%= @main_issue.conclusion %>
          </div>
        </div>
      </div>
    </section>

    <section class="scroll-point" id="area-7">
      <div class="contents">
        <%= link_to 'メインメッセージへ', main_messages_path, class: 'shiny-btn2' %>
      </div>
    </section>
  </div>
</div>
</main>
