<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>5-1-1 ドロップダウンメニュー（上）</title>
<meta name="description"  content="書籍「動くWebデザインアイディア帳」のサンプルサイトです">
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<!--==============レイアウトを制御する独自のCSSを読み込み===============-->
<link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">
<link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-1-1/css/5-1-1.css">
</head>
<body>
  <header id="header">
    <h1>クリティカルシンキング マスター</h1>
    
    <nav>
      <ul>
        <li><a href="#">Top</a></li>
          <% if user_signed_in? %>
            <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
            <li><%= link_to 'ログアウト',  destroy_user_session_path, method: :delete, class: "logout" %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <% end %>
      </ul>
    </nav>
  </header>
    
  <main>
    <%= link_to(new_main_issue_path, class: 'issue-btn') do %>
      <span class='issue-btn-text'>クリティカルシンキングをはじめる</span>
    <% end %>
    <section id="area-1">
      <h2>こんな方にお勧めです。</h2>
      <div class="main-issue">
        <% current_user.main_issue.each do |main_issue| %>
          <div class="main-issue">
            <div class="main-issue-name">
              <%= link_to main_issue.title, main_issue_sub_issues_path(main_issue) %>
            </div>
          </div>
        <% end %>
      </div>
      <p>社内会議で通したい企画案。何をどう整理すればいい？</p>
      <p>何を言いたいのかわからないと最近よく言われてしまう…</p>
      <p>このプランで行くと決めたのに、自信が持てないのはなぜ？</p>
      <p>課題を前に悩むばかりで、一向に解決策が打ち出せない</p>
    <!--/area1--></section>
      <section id="area-2">
      <h2>Area 2</h2>
      <p></p>
      <p>テキストが入ります。</p>
      <p>テキストが入ります。</p>
      <p>テキストが入ります。</p>
      <p>テキストが入ります。</p>

    <!--/area2--></section>
      <section id="area-3">
      <h2>Area 3</h2>
      <p>テキストが入ります。</p>
      <p>テキストが入ります。</p>
      <p>テキストが入ります。</p>
      <p>テキストが入ります。</p>
      <p>テキストが入ります。</p>

    <!--/area3--></section>
  <!--/main--></main>

  <footer id="footer">
    <small>&copy; copyright.</small>  
  </footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-1-1/js/5-1-1.js"></script>
</body>
</html>